#homec {
  background: #f9f9f9;
  background-image: url('img/fond_jaune.png');
  width:100%;
  display: flex;
  flex-wrap: nowrap;
}
  .expoc{
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 1px;
  }

  .expoc>fieldset{
    background-color: white;
    border: 7px solid #000000;
    box-shadow: 3px 3px 20px rgba(1, 255, 255, 0.9);
    border-radius: 20px;
    text-decoration: none;
    width: 100%;
    font-size: 20px;
    font-weight: bold;  
  }
    

    .searchc{
    }

      

    .expoline{
      display: flex;
      flex-wrap: wrap;
    }
      .boxc{
       margin-right:-30px;
       margin-top: -30px;
       }
     .boxc img{
        width: 90px;
        height: 60px;
        border-radius:10px;
      }
       
    
      .restec{
       text-align:center;
       font-size:18px;
       color:green;
      }

  .cmd{    
    margin-top: 20px;
    width: 100%;
  }
      
    table.tabpanierc {
      line-height: 3mm
      background-color: white;
      width: 100%;
      color: #717375;
      font-family: helvetica;
      border-collapse: collapse;    
      margin: auto;    
    }
    .tabpanierc th {;
      border: 1px solid #CFD1D2;
      color: white;
      background-color: #A516BE;
      font-weight: bold;
      font-style: italic;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
    }
    .tabpanierc td {
      line-height: 0mm;
      background: #FFFFFF;
      text-align: right;
      font-size: 16px;
      font-weight: bold;
      font-style: italic;
      padding: 1px;
    }
    .tabpanierc input {    
      border-radius: 5px;
      background: #f9f9f9;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      color: #717375;
      width: 95%;
      height: 98%;
    }
    
    .imgc{
      width: 3%;
    }

    .namec{
      width: 41%;
      font-size: 25px;
      text-align: center;

    }

    .pricec{
      width: 18%;
      text-align: right;
      font-size: 25px;
    }

    .quantityc{
      width: 8%;

    }

    .pricetc{
      width: 20%;
      text-align: right;
      font-size: 20px;
    }

    .supc{
      text-align: right;
      width: 7%;
    }

    .delc>img{
      width: 30px;
      height: 20px;
    }

  

  table.tabpaniercl {
    line-height: 5mm
    background-color: white;
    width: 80%;
    color: #717375;
    font-family: helvetica;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 30px;  
  }
  .tabpaniercl th {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .tabpaniercl td {
    line-height: 0mm;
    background: #FFFFFF;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    padding: 1px;
  }

  .tabpaniercl select {    
    border-radius: 5px;
    background: #f9f9f9;    
    font-size: 20px;
    color: green;
    font-weight: bold;
    width: 100%;
    height: 95%; 
  }

  .delc>img{
    width: 35px;
    height: 25px;
  }

  .print>img{
    width: 35px;
    height: 25px;
  }


  table.payementc {
    width: 99%;
    color: #717375;
    font-family: helvetica;
    line-height: 4mm;
    border-collapse: collapse;
    margin-top: 0px;      
  }
  .payementc th {
    border: 2px solid #CFD1D2;
    color: white;
    background-color: #A516BE;
    padding: 2px;
    font-weight: normal;
    font-size: 18px;
    font-weight: bold;
    text-align: center; 
  }
  .payementc td {
    border: 5px solid #CFD1D2;
    background: #FFFFFF;
    padding: 2px 2px;
    text-align: left;
    height: 10px;
    font-size: 16px;
    font-weight: bold;
    width: 230px;
  }
  .payementc input {    
    border-radius: 5px;
    background: #f9f9f9;
    text-align: center;
    font-size: 18px;
    color: green;
    font-weight: bold;
    height: 30px;
    width: 95%;
  }
  .payementc select {    
    border-radius: 5px;
    background: #f9f9f9;
    font-size: 18px;
    color: green;
    font-weight: bold;
    width: 100%;
    height: 35px;
  }

  table.creditfact {
      width: 70%;
      color: #717375;
      font-family: helvetica;
      line-height: 5mm;
      border-collapse: collapse;    
      margin: 10px;    
    }
    .creditfact th {
      border: 5px solid #CFD1D2;
      color: white;
      background-color: #A516BE;
      padding: 5px;
      font-weight: normal;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
    }
    .creditfact td {
      border: 5px solid #CFD1D2;
      background: #FFFFFF;
      padding: 5px 5px;
      text-align: center;
      height: 20px;
      font-size: 16px;
      font-weight: bold;
    }
    .creditfact input {    
      border-radius: 10px;
      background: #f9f9f9;
      text-align: center;
      font-size: 25px;
      color: green;
      font-weight: bold;
      width: 100%;
      height: 35px; 
    }
    .creditfact select {    
      border-radius: 10px;
      background: #f9f9f9;
      font-size: 22px;
      color: green;
      font-weight: bold;
      width: 100%;
      height: 35px; 
    }


  .listec>table.payementc {
    width: 99%;
    color: #717375;
    font-family: helvetica;
    line-height: 5mm;
    border-collapse: collapse;
    margin-top: 30px;
    margin-left: 5px;      
  }
  
  
    


    








