body{
    margin: 0px;
    width: 100%;
    height:64%;
  }
 .ticket{
    margin: 0px;
    width: 100%
    height:100%;
  }
  table {
    width: 100%;
    
    color: #717375;
    font-family: helvetica;
    line-height: 5mm;
    border-collapse: collapse;
  }
  table.border {
    width: 100%;
    height:100%;
    color: #717375;
    font-family: helvetica;
    line-height: 5mm;
    border-collapse: collapse;

  }

  .border th {
    border: 5px solid #000;
    color: black;
    background: #FFF;
    padding: 5px;
    font-weight: normal;
    font-size: 30px;
        
    text-align: center; }
  .border td {
    border: 5px solid #000;
    color: black;
    background: #FFF;    
    text-align: center;
    font-size: 35px;
    
  }
